#searchbox input {
    padding: 4px 10px;
    width: 100%;
    /* color: var(--primary); */
    font-weight: bold;
    border: 2px solid var(--tertiary);
    background-color: var(--bg);
    border-radius: var(--radius);
    font-size: large;
    font: inherit;
}

#searchbox  {
    background-color: var(--bg_s);
    padding: 1rem;
    border-radius: 0.25rem;
    width: 60%;
    max-width: 660px;

}

#searchbox input:focus {
    border-color: var(--secondary);
    outline: 2px solid var(--fg);
    background-color: var(--bg_1);
}

#searchResults li {
    list-style: none;
    border-radius: var(--radius);
    padding: 10px;
    margin: 10px 0;
    position: relative;

    background-color: #f5f5dc;
    border-left: 2px solid #444;
    border-top: 2px solid #444;
    border-bottom: 2px solid #bbb;
    border-right: 2px solid #bbb;
    transition: background-color 0.3s, border-color 0.3s;
}

#searchResults li:hover {
    /* background-color: var(--tertiary); */
    background-color: #e6e6c4;
}

#searchResults {
    /* margin: 10px 0; */
    width: 100%;
}

#searchResults li:active {
    transition: transform 0.1s;
    transform: scale(0.98);
}

#searchResults a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    outline: none;
}

#searchResults .focus {
    transform: scale(0.98);
    border: 2px solid var(--tertiary);
}
